<fs-examples
  title="Flipbook"
  githubUrl="https://github.com/Firestitch/fs-flipbook"
  npmUrl="https://www.npmjs.com/package/@firestitch/fs-flipbook">

    <fs-example title="Preview Flipbook Example" componentName="flipbook-preview-example">
        <flipbook-preview-example></flipbook-preview-example>
    </fs-example>

    <fs-example title="Inline Page Flipbook Example" componentName="flipbook-page-example">
        <flipbook-page-example></flipbook-page-example>
    </fs-example>

</fs-examples>